<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAx6jLQ6CVJEZDcfUqUK3dXgsyVGzleHM</string>
	<key>GCM_SENDER_ID</key>
	<string>155305234820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnAll</string>
	<key>PROJECT_ID</key>
	<string>learnall-fc31d</string>
	<key>STORAGE_BUCKET</key>
	<string>learnall-fc31d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155305234820:ios:430e219970aa3eb1e98dd1</string>
</dict>
</plist>